*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    max-width: 1100px;
    margin: 0 auto;
    
}

h1{
    padding: 1%;
    color:chocolate;

}

ul{
    list-style-type: none;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: minmax(10px, max-content) minmax(100px, max-content);
    justify-content: space-between;
    padding: 1%;
    
}

ul:hover{
    background-color: bisque;
    
}

